<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="odinctrl.sidebarToggle.left" data-ng-class="{ 'open': odinctrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="hidden-xs">
        <a href="index.html" class="m-l-10" data-ng-click="odinctrl.sidebarStat($event)">ODIN LITE</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
       

    
            <li class="dropdown hidden-xs" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <span class="tm-label">Notifications</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-clear="notifications">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    

                    </div>

                </div>
            </li>

        </ul>
    </li>
</ul>

