<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="" alt="">
            </div>

            <div class="profile-info">
                Test User
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="odinctrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>

            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">

        <li class="sub-menu" data-ng-class="{ 'active toggled': odinctrl.$state.includes('pages') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-item"></i> Sample Pages</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.profile.profile-about" data-ng-click="odinctrl.sidebarStat($event)">Profile</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.new-incident" data-ng-click="odinctrl.sidebarStat($event)">Create Incident Report</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.shifts-list" data-ng-click="odinctrl.sidebarStat($event)">List Shifts</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.pricing-table" data-ng-click="odinctrl.sidebarStat($event)">Pricing Table</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="pages.invoice" data-ng-click="odinctrl.sidebarStat($event)">Invoice</a></li>
                <li><a href="login.html">Login and Sign Up</a></li>
                <li><a href="404.html">Error 404</a></li>
            </ul>
        </li>

    </ul>
</div>
