<div class="container">
    <div class="block-header">
        <h2>Incident Report</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
        </ul>

    </div>

    <div class="card">
        <div class="card-header">
            <h2>New Incident</small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <p class="c-black f-500 m-b-5 m-t-20">Premises Details</p>
            <br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group fg-float">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control">
                            <label class="fg-label">Premises</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group fg-float">
                        <div class="fg-line">
                            <input type="text" class="form-control">
                            <label class="fg-label">Location</label>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-my-location"></i></span>
                    </div>
                </div>

            </div>
            <br/><br/>

            <div class="form-group">
                <div class="fg-line">
                    <textarea class="form-control" rows="5" placeholder="Incident details"></textarea>
                </div>
            </div>
        </div>

        <br/>
    </div>



    <div class="card">
        <div class="card-header">
            <h2>Incident Date</h2>


            <ul class="actions">
                <li uib-dropdown class="dropdown action-show">
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                </li>
            </ul>
        </div>

        <div class="card-body card-padding p-t-0" data-ng-controller="DatepickerDemoCtrl">


            <div class="datepicker-demo">


                <div class="dd-block">
                    <div class="date-picker dp-red">
                        <uib-datepicker show-weeks="false" ng-model="dtInline3" min-date="minDate" class="dp-inline"></uib-datepicker>
                    </div>
                </div>


            </div>

            <br/>


            <br/>
            <br/>


        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <h2>Incident Attachments</h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-4">
                    <p class="f-500 c-black m-b-20">File</p>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file m-r-10">
                            <span class="fileinput-new">Select file</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="...">
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                </div>
            </div>

            <br/>
            <br/>

            <p class="f-500 c-black m-b-20"> Preview</p>

            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                <div>
                    <span class="btn btn-info btn-file">
                        <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                    </span>
                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>

            <br/>
            <br/>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Submission</h2>
        </div>

        <div  class="card-body card-padding">
                      <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                    Notify premises owner of Incident
                    </label>
                </div>
            <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
            <br><br>
        </div>
    </div>


</div>
