<div class="container" data-ng-controller="tableCtrl as tctrl">

    <div class="block-header">
        <h2>Shifts<small>Clock in and out Events</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
   
    
       <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableBasic" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in $data">
                        <td data-title="'name'">
                            {{ w.name }}
                        </td>
                        <td data-title="'In/Out'">
                            {{ w.type }}
                        </td>
                        <td data-title="'Date'">
                            {{ w.date }}
                        </td>
                        <td data-title="'location'">
                            {{ w.location }}
                        </td>
                        <td data-title="'Shift'">
                            {{ w.shift }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>       
</div>




