<header id="header" data-current-skin={{odinctrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': odinctrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': odinctrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
