<div class="container invoice">

    <div class="block-header">
        <h2>Invoice

        <ul class="actions">

            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    
    <div class="card">

        <div class="card-body card-padding">
            <div class="row m-b-25">
                <div class="col-xs-6">
                    <div class="text-right">
                        <p class="c-gray">Invoice from</p>
                        
                        <h4>Odin Case Management</h4>
                        
                        <span class="text-muted">
                            <address>
                                 address
                            </address>

                            12345678<br/>
                            invoicing@odin.com.au
                        </span>
                    </div>
                </div>
                
                <div class="col-xs-6">
                    <div class="i-to">
                        <p class="c-gray">Invoice to</p>
                        
                        <h4>Test User </h4>
                        
                        <span class="text-muted">
                            <address>
                                Test Address
                            </address>

                            1234567890<br/>
                            testuser@gmail.com
                        </span>
                    </div>
                </div>
                
            </div>
            
            <div class="clearfix"></div>
            
            <div class="row m-t-25 p-0 m-b-25">
                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">Invoice#</div>
                        <h2 class="m-0 c-white f-300">234</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">Date</div>
                        <h2 class="m-0 c-white f-300">20/06/2016</h2>
                    </div>
                </div>
                

                
                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">Grand Total</div>
                        <h2 class="m-0 c-white f-300">$3000</h2>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <table class="table i-table m-t-25 m-b-25">
                <thead class="text-uppercase">
                    <th class="c-gray">ITEM DESCRIPTION</th>
                    <th class="c-gray">UNIT PRICE</th>
                    <th class="c-gray">QUANTITY</th>
                    <th class="highlight">TOTAL</th>
                </thead>
                
                <tbody>
                    <thead>
                        <tr>
                            <td width="50%">
                                <h5 class="text-uppercase f-400">Odin Lite License</h5>
                                <p class="text-muted">Yearly Odin Lite License
                                <br>
                                $10 Per Month Per User</p>
                            </td>
                            
                            <td>$120.00</td>
                            <td>25</td>
                            <td class="highlight">$3000.00 USD</td>
                        </tr>
                        
                    </thead> 
                </tbody>
            </table>
            
            <div class="clearfix"></div>
            
            <div class="p-25">
                <h4 class="c-green f-400">NOTE</h4>
                <p class="c-gray">License valid for one user each</p>
                   </div>
        </div>
        
        <footer class="m-t-15 p-20">
            <ul class="list-inline text-center list-unstyled">
                <li class="m-l-5 m-r-5"><small>support@odin.com.au</small></li>
                <li class="m-l-5 m-r-5"><small>123456789</small></li>
                <li class="m-l-5 m-r-5"><small>www.odin.com.au</small></li>
            </ul>
        </footer>
    </div>
    
</div>

<button class="btn btn-float bgm-red m-btn" print><i class="zmdi zmdi-print"></i></button>
