<div class="container c-alt">

    <div class="text-center">
        <h2 class="f-400">User Subscription</h2>
    </div>

    <div class="clearfix"></div>

    <div class="row m-t-25">
        <div class="col-sm-4">
            <div class="card pt-inner">
                <div class="pti-header bgm-amber">
                    <h2>$10 <small>| mo</small></h2>
                    <div class="ptih-title">Single User Monthly</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        For an individual paying month by month.
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-amber"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="card pt-inner">
                <div class="pti-header bgm-cyan">
                    <h2>$100 <small>| year</small></h2>
                    <div class="ptih-title">Yearly pack</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        Bulk Discount
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-cyan"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>
        
       <div class="col-sm-4">
            <div class="card pt-inner">
                <div class="pti-header bgm-cyan">
                    <h2>Free </h2>
                    <div class="ptih-title">One Month</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                     Promo Code required on checkout
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-cyan"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
