<div class="container">

    <div class="block-header">
        <h2>Test User  <small>Test Company</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
        <div class="pm-overview c-overflow">


            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li><i class="zmdi zmdi-phone"></i> {{ pctrl.mobileNumber }}</li>
                    <li><i class="zmdi zmdi-email"></i> {{ pctrl.emailAddress }}</li>
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0">
                            {{ pctrl.addressSuite }}, <br/>
                            {{ pctrl.addressCity }}, <br/>
                            {{ pctrl.addressCountry }}
                        </address>
                    </li>
                </ul>
            </div>

        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'template/profile-menu.html'"></ul>

            <data ui-view></data>
        </div>
    </div>
</div>
