<div class="container" data-ng-controller="tableCtrl as tctrl">

    <div class="block-header">
        <h2>Shifts<small>All shifts in your Company</small></h2>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
   
    
    <div class="card">
                
        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in $data"  ng-class="{ 'active': w.$edit }">
                        <td data-title="'ID'">
                            <span ng-if="!w.$edit">{{ w.id }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.id" /></div>
                        </td>
                        <td data-title="'Name'">
                            <span ng-if="!w.$edit">{{ w.name }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.name" /></div>
                        </td>
                        <td data-title="'Description'">
                            <span ng-if="!w.$edit">{{ w.description }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.description" /></div>
                        </td>
                        <td data-title="'Start Time'">
                            <span ng-if="!w.$edit">{{ w.start }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.start" /></div>
                        </td>
                        <td data-title="'End Time'">
                            <span ng-if="!w.$edit">{{ w.end }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.end" /></div>
                        </td>
                        <td data-title="'Break Time'">
                            <span ng-if="!w.$edit">{{ w.username }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.break" /></div>
                        </td>
                 
                        <td data-title="'Notes'">
                            <span ng-if="!w.$edit">{{ w.notes }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.notes" /></div>
                        </td>
                        
                        <td data-title="'Employees'">
                            <span ng-if="!w.$edit">{{ w.employees }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.employees" /></div>
                        </td>
                        <td data-title="'Actions'">
                            <button type="button" class="btn btn-default" ng-if="!w.$edit" ng-click="w.$edit = true"><i class="zmdi zmdi-edit"></i></button>
                            <button type="button" class="btn btn-success" ng-if="w.$edit" ng-click="w.$edit = false"><i class="zmdi zmdi-check"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>        
</div>




